*{
    margin:0;
    padding:0;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-white{
    color:white;
}
.text-gray{
    color:rgb(206, 206, 206);
}
.p-5{
    padding:5px;
}
.bold{
    font-weight: 700;
}
.background-white{
    background-color: white;
}
.background-orange{
    background-color: orange;
}